@*@using SportsStore.Domain.Entities
    @model IEnumerable<Product>*@
@using SportsStore.WebUI.HtmlHelpers @*bez linijki też działa ale wywala bład.*@ 
@model SportsStore.WebUI.Models.ProductListViewModel

@{
    ViewBag.Title = "Produkty";
}
@foreach (var p in Model.Products)
{<dir class="bg-faded">

        <h3>
            <strong>@p.Name</strong>
            <span class="float-right alert-dark">@p.Price.ToString("c") </span>
        </h3>
        @p.Description
        
    
</dir>
}
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>


