@*@using SportsStore.Domain.Entities
    @model IEnumerable<Product>*@

@model SportsStore.WebUI.Models.ProductListViewModel

@{
    ViewBag.Title = "Produkty";
}
@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}
<div class="btn-group float-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>


